{% extends "base_site.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block title %}
  Confirmation deconnexion
{% endblock title %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}

{% block content %}

<div class="container pb-4 mt-3">
    <div class="row">
      <div class="col-12 col-md-5">
        <h3>{% trans "Sign Out" %}</h3>
        <p style="font-style: italic;">Ceci est notre version de test! Nous vous encourageons à nous envoyer vos suggestions s'il y en a, 
          aux adress : <a href="mailto: contact@genoskul.com">contact@gensokul.com</a>  ou WhatsApp: <a href="http://wa.me/+237698095559">+237698095559</a> . Merci
        </p>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}">
            {% csrf_token %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button type="submit" class="btn btn-primary">{% trans 'Sign Out' %}</button>
        </form>
      </div>
      <div class="d-sm-none d-md-block col-5">
      </div>
    </div>
  </div>
<div class="container">
    <div class="row">
        

    </div>
</div>

{% endblock %}