{% extends "dashboard/base.html" %}

{% load crispy_forms_tags %}
{% load i18n %}

{% block title %}
Modifier mon mot de passe
{% endblock title %}

{% block breadcrumb %}
<li><a href="{% url 'dashboard:dashboard' %}">Tableau de bord</a></li>
<li>Modifier mon mot de passe</li>
{% endblock breadcrumb %}

{% block dashboard_content %}
<div class="row">
    <div class="col-lg-6 col-md-12">
        <div class="dashboard-list-box margin-top-0">
            <h4 class="gray">Modification de mot de passe</h4>
            <div class="dashboard-list-box-static">

                <form method="post">
                    {% csrf_token %}

                    <div class="my-profile">
                        {{form|crispy}}
                    </div>

                    <button class="button margin-top-15" type="submit">Modifier mon mot de passe</button>

                </form>
            </div>
        </div>
    </div>



    {% include "dashboard/footer.html" %}
</div>
{% endblock dashboard_content %}