{% extends "base_site.html" %}

{% load crispy_forms_tags %}

{% block title %}
Inscription
{% endblock title %}

{% block breadcrumbs %}{% endblock breadcrumbs %}
{% block content %}

<div class="container pb-4 mt-2 mt-md-4">
    <div class="row">
        <div class="col-12 col-md-4">
            <h4>Inscrivez-vous pour profiter de tous nos offres !</h4>
            <p>Vous avez déjà un compte ? alors <a href="{% url 'account_login' %}">connectez vous.</a></p>
            <h5 class="mb-2"><span class="text-primary">Etape 1:</span> Informations sur le compte !</h5>
            <form method="POST">
                {% csrf_token %}

                {{form|crispy}}
                <div class="custom-control custom-checkbox py-2">
                    <input type="checkbox" class="custom-control-input" required id="customCheck1">
                    <label class="custom-control-label" for="customCheck1">J'ai lu et j'accepte les <a
                            href="{% url 'terms' %}">termes</a> et <a href="{% url 'privacy' %}">conditions
                            d'utilisation</a> de genoskul.</label>
                </div>
                <button class="btn btn-primary" type="submit">S'inscrire
                    
                </button>

            </form>
        </div>
    </div>
</div>

{% endblock content %}