{% load static %}

<div class="col-12 col-md-4 mb-2 mb-md-4">
    
    <div class="recent-post mt-0">
        <div class="recent-post-img mb-0">
            <a href="{{post.get_absolute_url}}">
                {% if post.image %}
                <img src="{{post.image.url}}" style="height: 200px; width: 100%;" alt="">
                {% endif %}
            </a>
        </div>
        <a href="{{post.get_absolute_url}}">
            <h4 class="mt-0">{{post.title}}</h4>
        </a>
        <div class="meta-tags">
            <span>{{post.updated_at}}</span>
            <span>par <span class="text-primary">{{post.creator}}</span> </span>
        </div> 

        <p>{{post.content|safe|truncatewords:15}} <a href="{{post.get_absolute_url}}">lire plus</a></p>
    </div>

</div>