{% load static %}

{% url 'home' as home_url %}

{% url 'account_login' as signin_url %}
{% url 'accounts:register'  as signup_url %}
{% url 'dashboard:dashboard' as dashboard_url %}
{% url 'account_logout' as logout_url %}

{% url 'dashboard:document-create' as document_create_url %}
{% url 'learning:document-list' as document_list_url %}

{% url 'dashboard:job-create' as job_create_url %}
{% url 'dashboard:resume-create' as resume_create_url %}

{% url 'jobs:job-list' as jobs_list_url %}
{% url 'jobs:resume-list' as resume_list_url %}

{% url 'ndjor:product-list' as product_list_url %}

{% url 'dashboard:product-create' as product_create_url %}

<div class="container">
    <div class="sixteen columns">

        <div id="logo">
            <h1><a href="{{home_url}}"><img style="margin-top: 35px !important; width: 130px;" class="img-fluid"
                        src="{% static "images/genoskul.png" %}" alt="GENOSKUL" /></a></h1>
        </div>

        <nav id="navigation" class="menu">
            <ul id="responsive">

                <li><a id="{% if request.path == home_url %}current{% endif %}" href="{{home_url}}">Accueil</a>

                </li>

                <li><a href="#">Etudes</a>
                    <ul>
                        <li><a href="{{document_list_url}}">Bibliothèque</a></li>
                        <li><a href="#">Nos formations</a></li>
                        <li><a href="{{document_create_url}}">Publier un document</a></li>

                    </ul>
                </li>

                <li><a href="#">Emplois</a>
                    <ul>
                        
                        <li><a href="{{jobs_list_url}}">Trouver un poste</a></li>
                        <li><a href="{{resume_create_url}}">Déposer son CV</a></li>
                        <li><a href="{{resume_list_url}}">Voir les profils</a></li>
                        <li><a href="{{job_create_url}}">Publiez une offre</a></li>
                    </ul>
                </li>

                <li><a href="#">N'Djor</a>
                    <ul>
                        <li><a href="{{product_create_url}}">Vendre un produit</a></li>
                        <li><a href="{{product_list_url}}">Acheter un produit</a></li>

                    </ul>
                </li>
            </ul>


            <ul class="float-right">
                {% if request.user.is_authenticated %}
                <li><a id="{% if request.path == dashboard_url %}current{% endif %}" href="{{dashboard_url}}"> <i
                            class="fa fa-cog"></i>
                        </i> Tableau de bord</a></li>
                <li><a href="{{logout_url}}"><i class="fa fa-lock"></i> Deconnexion</a></li>
                {% else %}
                <li><a href="{{signup_url}}"><i class="fa fa-user"></i> Inscription</a></li>
                <li><a href="{{signin_url}}"><i class="fa fa-lock"></i> Connexion</a></li>
                {% endif %}

            </ul>

        </nav>

        <div id="mobile-navigation">
            <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i></a>
        </div>

    </div>
</div>