{% extends "base_site.html" %}

{% block title %}
  {{title}}
{% endblock title %}

{% block breadcrumb-item %}
  <li>Secteurs d'emploi disponibles</li>
{% endblock breadcrumb-item %}

{% block content %}
  
<div class="container py-4">

    <div class="categories-boxes-container">
				
        {% for post in posts %}
          {% include "post-single.html" with post=post %}

          {% empty %}
          <p>Aucun post à lister !</p>
        {% endfor %}

    </div>

</div>

{% endblock content %}