{% load static %}

<div id="banner" class="with-transparent-header parallax background"
    style="background-image: url({% static 'images/banner1.jpg' %})" data-img-width="2000" data-img-height="1330"
    data-diff="300">
    <div class="container">
        <div class="sixteen columns">

            <div style="padding: 12rem 0" class="text-center">
                <h1 class="text-white font-weight-bold display-4 mb-3">Bienvenue sur Genoskul</h1>
                <h4 class="text-white mb-3">Notre souci est de vous faire défaire de vos soucis !</h4>
                <!-- <p class="text-white mt-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis nobis
                    exercitationem quasi accusamus vel molestias?</p> -->
                <!-- <div class="dropdown mt-md-5">
                    <button class="btn btn-primary dropdown-toggle" style="width: 12rem;" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Publier un post
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        
                        <a class="dropdown-item" href="">Education</a>
                        <a class="dropdown-item" href="#">Divertissements</a>
                    </div>
                </div> -->
                <a href="{% url 'dashboard:post-create' %}" class="btn btn-primary">Publier un post</a>
            </div>
            <!-- <div class="search-container">

                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Dropdown button
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>

                <div class="browse-jobs">
                    Explorer 02 de nos plus grandes catégories<a href="#"> Produits</a> ou <a href="#">Offres
                        d'emploi</a>
                </div>

            </div> -->

        </div>
    </div>
</div>