{% load static %}

<div id="banner" class="with-transparent-header parallax background"
    style="background-image: url({% static 'images/banner1.jpg' %})" data-img-width="2000" data-img-height="1330"
    data-diff="300">
    <div class="container">
        <div class="sixteen columns">

            <div class="search-container">

                <form action="" method="get" class="form-inline">
                    <div class="form-group">
                        <label>Explorer</label>
                        <select name="" id="" class="chosen-select-no-single    ">
                            <option value="news"><a href="">Actualité </a></option>
                            <option value="learning">Education</option>
                            <option value="others">Loisirs et autres</option>
                        </select>
                        <button class="btn btn-primary">Commencer</button>
                    </div>
                </form>

                <div class="browse-jobs">
                    Explorer 02 de nos plus grandes catégories<a href="#"> Produits</a> ou <a href="#">Offres
                        d'emploi</a>
                </div>

            </div>

        </div>
    </div>
</div>