<div class="margin-top-15"></div>

<div id="footer">
	<div class="container">

		<div class="five columns">
			<h4>A propos de Genoskul</h4>
			<p>{{footer.content}}</p>
		</div>

		<div class="three columns">
			<h4>Entreprise</h4>
			<ul class="footer-links">
				<li><a href="{% url 'about' %}">A propos</a></li>
				<li><a href="{% url 'terms' %}">Termes et conditions d'utilisation</a></li>
				<li><a href="{% url 'privacy' %}">Politique de confidentialité</a></li>
			</ul>
		</div>
		
		<div class="three columns">
			<h4>Actions</h4>
			<ul class="footer-links">
				<li><a href="{% url 'dashboard:service-create' %}">Demande services</a></li>
				<li><a href="{% url 'dashboard:document-create' %}">Vendre un produit</a></li>
				<li><a href="{% url 'ndjor:product-list' %}">Acheter un produit</a></li>

			</ul>
		</div>		

		<div class="three columns">
			<h4>Explorer</h4>
			<ul class="footer-links">
				<li><a href="{% url 'learning:doc_category-list' %}">Bibliothèque</a></li>
				<li><a href="{% url 'learning:course-list' %}">Formations</a></li>
				<li><a href="{% url 'jobs:job-list' %}">Offres d'emploi</a></li>
				<li><a href="{% url 'blog:post-list' %}">Généralités & Divertissements</a></li>

			</ul>
		</div>

	</div>

	<div class="container">
		<div class="footer-bottom">
			<div class="sixteen columns">
				<h4>Suivez nous sur</h4>
				
				<ul class="social-icons">

					{% for network in social_networks %}
					<li><a class="{{network.type}}" href="{{network.link}}">
						</i> {{request.social_network.name}}</a></li>
					{% endfor %}
				</ul>
				<div class="copyrights">© Genoskul 2020. Tous droits réservés.</div>
			</div>
		</div>
	</div>

</div>

<div id="backtotop"><a href="#"></a></div>

</div>