{% load static %}


<script src="{% static "scripts/jquery-3.4.1.min.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
</script>
<script src="{% static "scripts/jquery-migrate-3.1.0.min.js" %}"></script>
<script src="{% static "scripts/custom.js" %}"></script>
<script src="{% static "scripts/jquery.superfish.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.revolution.min.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.showbizpro.min.js" %}"></script>
<script src="{% static "scripts/jquery.flexslider-min.js" %}"></script>
<script src="{% static "scripts/chosen.jquery.min.js" %}"></script>
<script src="{% static "scripts/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "scripts/waypoints.min.js" %}"></script>
<script src="{% static "scripts/jquery.counterup.min.js" %}"></script>
<script src="{% static "scripts/jquery.jpanelmenu.js" %}"></script>
<script src="{% static "scripts/stacktable.js" %}"></script>
<script src="{% static "scripts/slick.min.js" %}"></script>
<script src="{% static "scripts/headroom.min.js" %}"></script>