{% load static %}


<script src="{% static "scripts/jquery-3.4.1.min.js" %}"></script>
<script src="{% static "scripts/jquery-migrate-3.1.0.min.js" %}"></script>
<script src="{% static "scripts/custom.js" %}"></script>
<script src="{% static "scripts/jquery.superfish.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.tools.min.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.revolution.min.js" %}"></script>
<script src="{% static "scripts/jquery.themepunch.showbizpro.min.js" %}"></script>
<script src="{% static "scripts/jquery.flexslider-min.js" %}"></script>
<script src="{% static "scripts/chosen.jquery.min.js" %}"></script>
<script src="{% static "scripts/jquery.magnific-popup.min.js" %}"></script>
<script src="{% static "scripts/waypoints.min.js" %}"></script>
<script src="{% static "scripts/jquery.counterup.min.js" %}"></script>
<script src="{% static "scripts/jquery.jpanelmenu.js" %}"></script>
<script src="{% static "scripts/stacktable.js" %}"></script>
<script src="{% static "scripts/slick.min.js" %}"></script>
<script src="{% static "scripts/headroom.min.js" %}"></script>

