{% extends "base_site.html" %}

{% block title %}
{{title}}
{% endblock title %}

{% block breadcrumb-item %}
<li>{{title}}</li>
{% endblock breadcrumb-item %}

{% block content %}

<div class="container pb-5">
  <div class="row mb-4">
  </div>
  <div class="row">
    {% if documents %}
    {% for doc_categories in documents.learning.all %}
    <div class="col-12 col-md-4 mb-3">
      {% include "learning/includes/document-single.html" with doc_categories=doc_categories%}
    </div>
    {% endfor %}
    {% else %}
    {% for doc_categories in documents %}
    <div class="col-12 col-md-4 mb-3">
      {% include "learning/includes/document-single.html" with doc_categories=doc_categories %}
    </div>
    {% endfor %}
    {% endif %}
  </div>

  {% if is_paginated %}
  <div class="row">
    <div class="col-12 col-md-6">
      {% include "includes/pagination.html" %}
    </div>
  </div>
  {% endif %}

</div>

{% endblock content %}