{% load static %}
{% load humanize %}

<div id="dashboard">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="main-body p-0 margin-top-30">
                    <div class="inner-wrapper">
                        <div class="inner-sidebar">
                            <div class="inner-sidebar-header justify-content-center">
                                <a href="{% url 'forum:topic-add' forum_pk=forum.pk %}" class="btn btn-primary">Nouveau
                                    sujet</a>
                            </div>

                            <div class="inner-sidebar-body p-0">
                                <div class="p-3 h-100" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: -16px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: 100%;">
                                                    <div class="simplebar-content" style="padding: 16px;">
                                                        <p>Tous mes forums</p>
                                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                            {% for registration in registrations %}
                                                            {% with registration.forum as my_forum %}
                                                            <li>

                                                                <a href="{{my_forum.get_absolute_url}}" class="nav-link nav-link-faded has-icon {% if my_forum.pk == forum.pk %}
                                                                      active
                                                                    {% endif %}">{{my_forum}}</a>

                                                            </li>
                                                            {% endwith %}

                                                            {% endfor %}

                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar"
                                            style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inner-main">
                            <div class="inner-main-header">
                                <a href="{% url 'forum:forum-list' %}"> <i class="fa fa-arrow-circle-left"></i> Quitter
                                    le forum</a>
                                <!-- <span class="input-icon input-icon-sm ml-auto w-auto">
                                    <input type="text"
                                        class="form-control form-control-sm bg-gray-200 border-gray-200 shadow-none mb-4 mt-4"
                                        placeholder="Search forum" />
                                </span> -->
                            </div>

                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">

                                <div class="alert alert-primary">
                                    Les sujets qui ont été discutés dans le groupe. Cliquez en sur un
                                        pour lire les interventions
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                        {% for topic in forum.topics.all %}
                                        <div class="media forum-item">
                                            <a
                                                href="{% url 'forum:topic-detail' forum_pk=forum.pk topic_pk=topic.pk %}"><img
                                                    src="{% static 'images/avatar-placeholder.png' %}"
                                                    class="mr-3 rounded-circle"
                                                    style="width: 50px !important; height: 50px !important;"
                                                    alt="User" /></a>
                                            <div class="media-body">
                                                <h6><a href="{% url 'forum:topic-detail' forum_pk=forum.pk topic_pk=topic.pk %}"
                                                        class="text-primary">{{topic.title}}</a></h6>
                                                <p class="text-secondary">
                                                    {{topic.detail|truncatewords:20}}
                                                </p>
                                                {% if topic.get_last_replied %}
                                                <p class="text-muted"><a
                                                        href="javascript:void(0)">{{topic.get_last_replied_user}}</a> a
                                                    répondu
                                                    <span
                                                        class="text-secondary font-weight-bold">{{topic.get_last_replied_date|naturalday}}</span>
                                                </p>
                                                {% endif %}
                                            </div>
                                            <div class="text-muted small text-center align-self-center">
                                                
                                                <span><i class="fa fa-comment ml-2"></i> {{topic.comments.count}}</span>
                                            </div>
                                        </div>
                                        {% empty %}
                                        <p class="text">Auncun sujet n'a été créé. Pourquoi ne pas en créer un ? <a href="{% url 'forum:topic-add' forum_pk=forum.pk %}">Créer un sujet de discussion</a></p>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>

            


                        </div>

                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>