{% extends "forum/base.html" %}

{% load crispy_forms_tags %}


{% block content %}
<div id="dashboard">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="main-body p-0 margin-top-30">
                    <div class="inner-wrapper">
                        <div class="inner-sidebar">
                            <div class="inner-sidebar-header justify-content-center">
                                <a href="" class="btn btn-primary">Nouveau sujet</a>
                            </div>

                            <div class="inner-sidebar-body p-0">
                                <div class="p-3 h-100" data-simplebar="init">
                                    <div class="simplebar-wrapper" style="margin: -16px;">
                                        <div class="simplebar-height-auto-observer-wrapper">
                                            <div class="simplebar-height-auto-observer"></div>
                                        </div>
                                        <div class="simplebar-mask">
                                            <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                                                <div class="simplebar-content-wrapper" style="height: 100%;">
                                                    <div class="simplebar-content" style="padding: 16px;">
                                                        <p>Tous mes forums</p>
                                                        <nav class="nav nav-pills nav-gap-y-1 flex-column">
                                                            {% for registration in registrations %}
                                                            {% with registration.forum as my_forum %}
                                                            <li>

                                                                <a href="{{my_forum.get_absolute_url}}"
                                                                    class="nav-link nav-link-faded has-icon {% if my_forum.pk == forum.pk %}
                                                                      active
                                                                    {% endif %}">{{my_forum}}</a>

                                                            </li>
                                                            {% endwith %}

                                                            {% endfor %}

                                                        </nav>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="simplebar-placeholder" style="width: 234px; height: 292px;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
                                        <div class="simplebar-scrollbar" style="width: 0px; display: none;"></div>
                                    </div>
                                    <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
                                        <div class="simplebar-scrollbar"
                                            style="height: 151px; display: block; transform: translate3d(0px, 0px, 0px);">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="inner-main">
                            <div class="inner-main-header">
                                <a href="{% url 'forum:forum-list' %}"> <i class="fa fa-arrow-circle-left"></i> Quitter le forum</a>
                                
                            </div>

                            <div class="inner-main-body p-2 p-sm-3 collapse forum-content show">
                                <div class="card mb-2">
                                    <div class="card-body p-2 p-sm-3">
                                     <form method="post">
                                        {% csrf_token %}
                                        {{form|crispy}}
                                        <button type="submit" class="btn btn-primary">Ajouter</button>
                                     </form>
                                    </div>
                                </div>

                          
                            </div>



                        </div>

                    </div>

                 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}