<div class="widget">
    <h4>Trier par</h4>

    <select data-placeholder="Choose Category" class="chosen-select-no-single">
        <option selected="selected" value="recent">Relevance</option>
        <option value="">Hourly Rate – Highest First</option>
        <option value="">Hourly Rate – Lowest First</option>
    </select>

</div>

<div class="widget">
    <h4>Skills</h4>

    <form action="#" method="get">
        <select data-placeholder="Select Skills" class="chosen-select" multiple>
            <option value="">Adobe Photoshop</option>
            <option value="">PHP</option>
            <option value="">HTML</option>
            <option value="">CSS</option>
            <option value="">JavaScript</option>
            <option value="">jQuery</option>
            <option value="">MySQL</option>
            <option value="">WordPress</option>
        </select>
        <div class="margin-top-15"></div>
        <button class="button">Filter</button>
    </form>
</div>