<div class="pagination-container">
    <nav class="pagination">
        <ul>
            {% for i in paginator.page_range %}
            <li><a href="?page={{i}}" class="{% if page_obj.number == i %}
              current-page
            {% endif %}">{{i}}</a></li>
              
            {% endfor %}
            
        </ul>
    </nav>

    <nav class="pagination-next-prev">
        <ul>
           {% if page_obj.has_previous %}
           <li><a href="?page={{page_obj.previous_page_number}}" class="prev">Précedent</a></li>
           {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{page_obj.next_page_number}}" class="next">Suivant</a></li>
            {% endif %}
        </ul>
    </nav>
</div>