{% load static %}


<li><a href="{{profile.get_absolute_url}}">

        {% with profile.user.profile as user_profile %}
        {% if user_profile.avatar %}
        <img src="{{profile.user.profile.avatar.url}}" alt="">
        {% else %}
        <img src="{% static 'images/avatar-placeholder.png' %}" alt="">

        {% endif %}
        {% endwith %}

        <div class="resumes-list-content">
            <h4>{{profile.user.get_full_name}} <span>{{profile.pro_title}}</span></h4>
            <span><i class="fa fa-map-marker"></i> {{profile.location}}</span>
            <p class="d-block">{{profile.description|truncatewords:15}}</p>
            <div class="clearfix"></div>
        </div>
    </a>
    <div class="clearfix"></div>
</li>