{% extends "base.html" %}

{% block title %}
Tableau de bord
{% endblock title %}


{% block extrastyles %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

{% endblock extrastyles %}

{% block navbar %}
{% include "base/headers/navbar-dashboard.html" %}
{% endblock navbar %}

{% block content %}


<!-- {% url 'dashboard:jobs-list' as jobs_list_url %}
{% url 'dashboard:job-create' as job_create_url %} -->
{% url 'dashboard:documents' as documents_url %}
{% url 'dashboard:document-create' as document_create_url %}
{% url 'dashboard:products' as products_url %}
{% url 'dashboard:product-create' as product_create_url %}
{% url 'dashboard:dashboard' as dashboard_url %}
{% url 'dashboard:profile-update' as profile_url %}
{% url 'dashboard:post-create' as post_create_url %}
{% url 'dashboard:posts' as posts_url %}
{% url 'forum:forum-list' as forum_list_url %}

{% url 'accounts:user_info-update' pk=request.user as user_info_update_url %}

<div id="dashboard">


	<a href="#" class="dashboard-responsive-nav-trigger"><i class="fa fa-reorder"></i> Mes Infos</a>

	<div class="dashboard-nav">
		<div class="dashboard-nav-inner">

			<ul data-submenu-title="Espace d'étudiants">
				<li><a href="{{forum_list_url}}">Forums</a></li>
				
				
			</ul>

			{% with request.user as user %}
			<ul data-submenu-title="Gérer">
				<li><a>Documents</a>
					<ul>
						<li><a href="{{documents_url}}">Mes documents <span
									class="nav-tag">{{user.documents.count}}</span></a></li>
						<li><a href="{{document_create_url}}">Publier un document</a></li>
					</ul>
				</li>
				<li><a>Posts</a>
					<ul>
						<li><a href="{{posts_url}}">Mes Posts <span
									class="nav-tag">{{user.posts.count}}</span></a></li>
						<li><a href="{{post_create_url}}">Publier un post</a></li>
					</ul>
				</li>
				<li><a>Produits</a>
					<ul>
						<li><a href="{{products_url}}">Mes produits <span
									class="nav-tag">{{user.products.count}}</span></a></li>
						<li><a href="{{product_create_url}}">Ajouter un produit</a></li>
					</ul>
				</li>
				
				{% with request.user.resumes.first as resume %}
				<li><a href="{% if resume %}
					{% url 'dashboard:resume-update' pk=resume.pk %}
					{% else %}
					{% url 'dashboard:resume-create' %}
				  {% endif %}">Créer profil</a>
				  </li>
				{% endwith %}
				
			</ul>

			{% endwith %}
			<ul data-submenu-title="Compte">
				<li><a href="{{profile_url}}">Mon profil</a></li>
				<li><a href="{% url 'account_change_password' %}">Securité</a></li>
				<li><a href="{% url 'accounts:user_info-update' pk=request.user.pk %}">Perso</a></li>
			</ul>

		</div>
	</div>

	<div class="dashboard-content">

		<div id="titlebar" class="d-none d-md-block">
			<div class="row">
				<div class="col-md-12">
					<h2>Hello {{request.user.get_username}}</h2>
					<nav id="breadcrumbs">
						<ul>
							<li><a href="{{dashboard_url}}">Accueil</a></li>
							{% block breadcrumb %}

							{% endblock breadcrumb %}
						</ul>
					</nav>
				</div>
			</div>
		</div>

		{% if messages %}
		{% for message in messages %}
		<div class="notification {{message.tags}}">
			{{message}}
		</div>
		{% endfor %}
		{% endif %}
		{% block dashboard_content %}

		{% endblock dashboard_content %}

	</div>


</div>
{% endblock content %}