{% extends "dashboard/base.html" %}

{% block breadcrumb %}
<li>Tableau de bord</li>

{% endblock breadcrumb %}

{% block dashboard_content %}
<div class="row">

    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-1">
            {% with request.user.documents.count as doc_count %}
            <div class="dashboard-stat-content">
                <h4 class="counter">{{doc_count}}</h4> <span>Document{{doc_count|pluralize}}
                    publié{{doc_count|pluralize}}</span>
            </div>

            {% endwith %}
            <div class="dashboard-stat-icon"><i class="ln ln-icon-File-Link"></i></div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-2">
            {% with request.user.products.count as product_count %}
            <div class="dashboard-stat-content">
                <h4 class="counter">{{product_count}}</h4> <span>Produit{{product_count|pluralize}}
                    publié{{product_count|pluralize}}</span>
            </div>

            {% endwith %}
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Bar-Chart"></i></div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-3">
            <div class="dashboard-stat-content">
                {% with request.user.jobs.count as job_count %}
                <h4 class="counter">{{job_count}}</h4> <span>Offre{{job_count|pluralize}} d'emploi
                    publiée{{job_count|pluralize}}</span>

                {% endwith %}
            </div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Business-ManWoman"></i></div>
        </div>
    </div>


    <div class="col-lg-3 col-md-6">
        <div class="dashboard-stat color-4">
            <div class="dashboard-stat-content">
                <h4 class="counter">00</h4> <span>Ami(e)s</span>
            </div>
            <div class="dashboard-stat-icon"><i class="ln ln-icon-Add-UserStar "></i></div>
        </div>
    </div>

</div>


<div class="row">

    <!-- <div class="col-lg-6 col-md-12">
        <div class="dashboard-list-box margin-top-20">
            <h4>Recent Activities</h4>
            <ul>
                <li>
                    Your listing <strong><a href="#">Marketing Coordinator - SEO / SEM Experience </a></strong> has been
                    approved!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>

                <li>
                    Kathy Brown has sent you <strong><a href="#">private message</a></strong>!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>

                <li>
                    Someone bookmarked your <strong><a href="#">Restaurant Team Member - Crew</a></strong>!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>

                <li>
                    You have new application for <strong><a href="#">Power Systems User Experience
                            Designer</a></strong>!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>

                <li>
                    Someone bookmarked your <strong><a href="#">Core PHP Developer for Site Maintenance </a></strong>
                    listing!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
                <li>
                    Your job listing <strong><a href="#">Core PHP Developer for Site Maintenance </a></strong> is
                    expiring!
                    <a href="#" class="close-list-item"><i class="fa fa-close"></i></a>
                </li>
            </ul>
        </div>
    </div> -->


    <!-- Recent Activity -->
    <!-- <div class="col-lg-6 col-md-12">
        <div class="dashboard-list-box with-icons margin-top-20">
            <h4>Your Packages</h4>
            <ul class="dashboard-packages">
                <li>
                    <i class="list-box-icon fa fa-shopping-cart"></i>
                    <strong>Basic</strong>
                    <span>You have 2 listings posted</span>
                </li>
                <li>
                    <i class="list-box-icon fa fa-shopping-cart"></i>
                    <strong>Extended</strong>
                    <span>You have 2 listings posted</span>
                </li>
                <li>
                    <i class="list-box-icon fa fa-shopping-cart"></i>
                    <strong>Professional</strong>
                    <span>You have 5 listings posted</span>
                </li>
            </ul>
        </div>
    </div> -->

    <!-- Copyrights -->
    {% include "dashboard/footer.html" %}
</div>
{% endblock dashboard_content %}