{% extends "base.html" %}

{% block title %}
Acceuil
{% endblock title %}



{% block content %}

{% include "base/banner.html" %}

<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-20 margin-top-10 text-primary">Catégories les plus populaires</h3>
		<div class="categories-boxes-container">
				
			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln ln-icon-Bar-Chart"></i>
				<h4>Accouting / Finance</h4>
				<span>32</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln ln-icon-Car"></i>
				<h4>Automotive Jobs</h4>
				<span>76</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln  ln-icon-Worker"></i>
				<h4>Construction / Facilities</h4>
				<span>31</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln  ln-icon-Student-Female"></i>
				<h4>Education / Training</h4>
				<span>76</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln ln-icon-Medical-Sign"></i>
				<h4>Healthcare</h4>
				<span>32</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln ln-icon-Plates"></i>
				<h4>Restarant / Food Service</h4>
				<span>67</span>
			</a>

			<!-- Box -->
			<a href="#" class="category-small-box">
				<i class="ln ln-icon-Globe"></i>
				<h4>Transportation / Logistics</h4>
				<span>45</span>
			</a>

			<a href="#" class="category-small-box">
				<i class="ln   ln-icon-Laptop-3"></i>
				<h4>Telecommunication</h4>
				<span>96</span>
			</a>

		</div>
		<!-- <div class="categories-boxes-container">
			{% for category in doc_categories %}
			<a href="{{category.get_absolute_url}}" class="category-small-box">
				<i class="ln ln-icon-Bar-Chart"></i>
				<h4>{{category.name}}</h4>
				<span>{{category.documents.count}}</span>
			</a>
			{% endfor %}

			
		</div> -->

		<div class="clearfix"></div>
		<div class="margin-top-30"></div>

		<a href="{% url 'learning:doc_category-list' %}" class="button centered">Voir toutes les autres catégories</a>
		<div class="margin-bottom-55"></div>
	</div>
</div>


<div class="container">

	<div class="row">
		<div class="col-12 col-md-8">
			<div class="ten columns">
				<div class="padding-right">
					<h3 class="margin-bottom-25 text-primary">Offres d'emploi rescents</h3>
					<div class="listings-container">

						{% for job in jobs %}
						  {% include "jobs/includes/job-single.html" with job=job %}
						{% endfor %}

					</div>

					<a href="#" class="button centered"><i class="fa fa-plus-circle"></i>Voir plus d'offres</a>
					<div class="margin-bottom-55"></div>
				</div>
			</div>
		</div>
		<div class="col-12 col-md-4">
			<div class="five columns">
				<h3 class="margin-bottom-5">Services</h3>

				<div class="showbiz-navigation">
					<div id="showbiz_left_1" class="sb-navigation-left"><i class="fa fa-angle-left"></i></div>
					<div id="showbiz_right_1" class="sb-navigation-right"><i class="fa fa-angle-right"></i></div>
				</div>
				<div class="clearfix"></div>

				<div id="job-spotlight" class="showbiz-container">
					<div class="showbiz" data-left="#showbiz_left_1" data-right="#showbiz_right_1"
						data-play="#showbiz_play_1">
						<div class="overflowholder">

							<ul>

								<li>
									<div class="job-spotlight">
										<a href="#">
											<h4>Logo Design <span class="freelance">Freelance</span></h4>
										</a>
										<span><i class="fa fa-briefcase"></i> Hexagon</span>
										<span><i class="fa fa-map-marker"></i> Sydney</span>
										<span><i class="fa fa-money"></i> $10 / hour</span>
										<p>Proin ligula neque, pretium et ipsum eget, mattis commodo dolor. Etiam
											tincidunt
											libero quis commodo.</p>
										<a href="#" class="button">Voir le details</a>
									</div>
								</li>


							</ul>
							<div class="clearfix"></div>

						</div>
						<div class="clearfix"></div>
					</div>
				</div>

			</div>
		</div>
	</div>

</div>

<div class="container">
	<div class="sixteen columns">
		<h3 class="margin-bottom-25 text-primary">Articles rescents</h3>
	</div>

	{% for post in posts %}
	  {% include "blog/includes/post-single.html" with post=post %}
	{% endfor %}

</div>

{% endblock content %}

{% block footer %}
{% include "base/footer.html" %}
{% endblock footer %}